html{
  background-color: #cce;
  border: 0.7rem solid #8833ff;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem 2.5rem;
}

.styled-header {
  color: #436;
}

.subtle{
  font-size: normal;
}

.stat-bar {
  background-color: #8855dd;
  width: 100%;
  height: 5.5rem;
  border-radius:  0.5rem;
  margin-bottom: 2rem;
}

.container{
  margin: 10%;
  padding: 1rem 15rem;
}

.page{
  display: flex;
  flex-direction: column;
  background-color: #dee;
  height: 70vh;
  align-items: center;
  justify-content: space-around;
}

li{
  margin: 0.26rem 0;
}

TableCell{
  font-size: 2rem;
}

#stat-list{
  color: rgb(228, 213, 248);
  display: flex;
  flex-direction: column;
  align-content: right;
}

#done{
  color: rgb(16, 143, 16);
}

#form{
  margin-bottom: 2rem;
  display: flex;
}

.distance{
  margin: 1rem 2rem ;
}

#del{
  color: rgba(199, 13, 0, 0.836);
}

#del:hover{
  cursor: pointer;
  background-color: #eee;
}

#row:hover{
  background-color: #bbc;
  cursor: pointer;
}

footer{
  margin: 4rem 0.5rem 0 3rem;
  font-size: 0.7;
  font-weight: bold;
}

@media screen and (max-width:560px) {
  html{
    font-size: 80%;
  }
  #form{
    justify-content: stretch;
  }
  .distance{
    justify-content: stretch;
  }
  .page{
    height: 40vh;
  }
}